In [188]:
import pandas as pd
import numpy as np

In [189]:
df = pd.read_csv('startup_funding.csv')

In [190]:
df['Startup Name'].unique().tolist()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [191]:
df = df.set_index('Sr No')

In [192]:
df = df.drop('Remarks',axis=1)

In [193]:
df = df.rename(columns = {'City  Location':'city',
           'InvestmentnType':'round',
           'Date dd/mm/yyyy':'date',
           'Industry Vertical':'verticle',
          ' SubVertical':'subvertical',
          'Investors Name':'investors',
          'Amount in USD':'amount',
            'Startup Name':'startup'})

In [194]:
df['amount'] = df.amount.str.replace(',','').str.replace('Undisclosed','0').str.replace('unknown','0').str.replace('undisclosed','0').str.replace('+','0').fillna('0')

In [195]:
df = df[df.amount.str.isdigit()]

In [196]:
df['amount'] = df.amount.astype('float64')

In [197]:
def dollar_to_CR_INR(dollar):
    return round((int(dollar) * 83)/10000000,2)

In [198]:
df['amount'] = df['amount'].apply(dollar_to_CR_INR)

In [199]:
# df.date = pd.to_datetime(df['date'],errors='coerce')

In [200]:
df

,date,startup,verticle,SubVertical,city,investors,round,amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1660.00
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.80
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,152.38
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.90
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.94
...,...,...,...,...,...,...,...,...
3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,37.35
3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,6.85
3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,12.45
3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,0.00
3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,1.16

In [201]:
df.date = df.date.str.replace('05/072018','05/07/2018')
df.date = pd.to_datetime(df['date'],format='mixed',errors = 'coerce')

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3030 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3028 non-null   datetime64[ns]
 1   startup      3030 non-null   object
 2   verticle     2859 non-null   object
 3   SubVertical  2105 non-null   object
 4   city         2850 non-null   object
 5   investors    3006 non-null   object
 6   round        3028 non-null   object
 7   amount       3030 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 213.0+ KB

In [203]:
df = df.dropna(subset = ['date','verticle','city','investors','round','amount'])

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2823 entries, 1 to 2873
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2823 non-null   datetime64[ns]
 1   startup      2823 non-null   object
 2   verticle     2823 non-null   object
 3   SubVertical  2079 non-null   object
 4   city         2823 non-null   object
 5   investors    2823 non-null   object
 6   round        2823 non-null   object
 7   amount       2823 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 198.5+ KB

In [205]:
df.SubVertical = df.SubVertical.fillna('undefined')

C:\Users\ketan\AppData\Local\Temp\ipykernel_12656\1259859721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.SubVertical = df.SubVertical.fillna('undefined')

In [207]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2823 entries, 1 to 2873
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2823 non-null   datetime64[ns]
 1   startup      2823 non-null   object
 2   verticle     2823 non-null   object
 3   SubVertical  2823 non-null   object
 4   city         2823 non-null   object
 5   investors    2823 non-null   object
 6   round        2823 non-null   object
 7   amount       2823 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 198.5+ KB

In [208]:
df.to_csv('startup_funding_clean.csv')